workflows/1-docker-monitor.json
{
  "name": "1. Docker Container Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 3 }]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 3 minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://docker-api-proxy:2375/containers/json?all=true",
        "options": {}
      },
      "id": "get-containers",
      "name": "Get Containers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst containers = items.map(i => i.json);\nconst running = containers.filter(c => c.State === 'running');\n\nconst alerts = [];\nconst info = [];\n\nfor (const c of containers) {\n  const name = (c.Names && c.Names[0]) ? c.Names[0].replace('/', '') : 'unknown';\n  if (c.State !== 'running') {\n    alerts.push({ container: name, message: 'Container is ' + c.State });\n  }\n  info.push({ container: name, state: c.State, status: c.Status });\n}\n\nreturn [{ json: {\n  timestamp: new Date().toLocaleString('zh-TW', { timeZone: 'Asia/Taipei' }),\n  totalContainers: containers.length,\n  runningContainers: running.length,\n  hasIssues: alerts.length > 0,\n  alerts: alerts,\n  info: info\n}}];"
      },
      "id": "parse-data",
      "name": "Parse Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [{
            "id": "1",
            "leftValue": "={{ $json.hasIssues }}",
            "rightValue": true,
            "operator": { "type": "boolean", "operation": "equals", "singleValue": true }
          }],
          "combinator": "and"
        }
      },
      "id": "check-issues",
      "name": "Has Issues?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nlet m = '[ALERT] Docker Container Alert!\\n---\\n';\nm += 'Time: ' + d.timestamp + '\\n';\nm += 'Containers: ' + d.runningContainers + '/' + d.totalContainers + ' running\\n\\nISSUES:\\n';\nfor (const a of d.alerts) { m += '- ' + a.container + ': ' + a.message + '\\n'; }\nm += '\\nAll:\\n';\nfor (const c of d.info) { m += (c.state==='running'?'[OK]':'[X]') + ' ' + c.container + '\\n'; }\nreturn [{ json: { message: m } }];"
      },
      "id": "format-alert",
      "name": "Format Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nlet m = '[OK] Docker Status - All Good\\n---\\n';\nm += 'Time: ' + d.timestamp + '\\n';\nm += 'Containers: ' + d.runningContainers + '/' + d.totalContainers + ' running\\n\\n';\nfor (const c of d.info) { m += '[OK] ' + c.container + ' (' + c.status + ')\\n'; }\nreturn [{ json: { message: m } }];"
      },
      "id": "format-normal",
      "name": "Format Normal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.message }}",
        "additionalFields": { "disable_notification": false }
      },
      "id": "send-alert",
      "name": "Send Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1340, 200],
      "credentials": { "telegramApi": { "id": "XfuqkzOYYEa0ar0n", "name": "Telegram Bot" } }
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.message }}",
        "additionalFields": { "disable_notification": true }
      },
      "id": "send-normal",
      "name": "Send Status (Silent)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1340, 400],
      "credentials": { "telegramApi": { "id": "XfuqkzOYYEa0ar0n", "name": "Telegram Bot" } }
    }
  ],
  "connections": {
    "Every 3 minutes": { "main": [[{ "node": "Get Containers", "type": "main", "index": 0 }]] },
    "Get Containers": { "main": [[{ "node": "Parse Data", "type": "main", "index": 0 }]] },
    "Parse Data": { "main": [[{ "node": "Has Issues?", "type": "main", "index": 0 }]] },
    "Has Issues?": { "main": [
      [{ "node": "Format Alert", "type": "main", "index": 0 }],
      [{ "node": "Format Normal", "type": "main", "index": 0 }]
    ]},
    "Format Alert": { "main": [[{ "node": "Send Alert", "type": "main", "index": 0 }]] },
    "Format Normal": { "main": [[{ "node": "Send Status (Silent)", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "id": "docker-monitor-workflow",
  "meta": { "instanceId": "mis-assistant" },
  "tags": []
}
