workflows/2-database-backup.json
{
  "name": "2. Database Backup",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 2 * * *" }] }
      },
      "id": "schedule-trigger",
      "name": "Daily 2AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://docker-api-proxy:2375/containers/json",
        "options": {}
      },
      "id": "list-containers",
      "name": "List Containers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst containers = items.map(i => i.json);\nconst mysql = containers.filter(c => c.Image && (c.Image.includes('mysql') || c.Image.includes('mariadb')));\nif (mysql.length === 0) {\n  return [{ json: { found: false, message: 'No MySQL/MariaDB containers found' } }];\n}\nconst ts = new Date().toISOString().replace(/[:.]/g, '-').slice(0, 19);\nconst results = mysql.map(c => ({\n  id: c.Id,\n  name: c.Names[0].replace('/', ''),\n  backupFile: c.Names[0].replace('/', '') + '_' + ts + '.sql'\n}));\nreturn [{ json: { found: true, timestamp: ts, containers: results } }];"
      },
      "id": "find-mysql",
      "name": "Find MySQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [{ "id": "1", "leftValue": "={{ $json.found }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals", "singleValue": true } }],
          "combinator": "and"
        }
      },
      "id": "check-found",
      "name": "MySQL Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://docker-api-proxy:2375/containers/' + $json.containers[0].id + '/exec' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ Cmd: ['sh', '-c', 'mysqldump -u root --all-databases 2>/dev/null | gzip > /tmp/' + $json.containers[0].backupFile + '.gz && echo BACKUP_OK || echo BACKUP_FAIL'], AttachStdout: true, AttachStderr: true }) }}",
        "options": {}
      },
      "id": "exec-create",
      "name": "Create Exec",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://docker-api-proxy:2375/exec/' + $json.Id + '/start' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"Detach\": false, \"Tty\": false}",
        "options": {}
      },
      "id": "exec-start",
      "name": "Start Exec",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "jsCode": "const ts = new Date().toLocaleString('zh-TW', { timeZone: 'Asia/Taipei' });\nlet msg = '[OK] Database Backup Complete\\n---\\nTime: ' + ts + '\\nBackup executed successfully';\nreturn [{ json: { message: msg } }];"
      },
      "id": "format-success",
      "name": "Format Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "jsCode": "const ts = new Date().toLocaleString('zh-TW', { timeZone: 'Asia/Taipei' });\nconst msg = '[WARNING] Database Backup\\n---\\nTime: ' + ts + '\\nNo MySQL/MariaDB containers found';\nreturn [{ json: { message: msg } }];"
      },
      "id": "format-no-mysql",
      "name": "No MySQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "id": "send-telegram",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1780, 300],
      "credentials": { "telegramApi": { "id": "XfuqkzOYYEa0ar0n", "name": "Telegram Bot" } }
    }
  ],
  "connections": {
    "Daily 2AM": { "main": [[{ "node": "List Containers", "type": "main", "index": 0 }]] },
    "List Containers": { "main": [[{ "node": "Find MySQL", "type": "main", "index": 0 }]] },
    "Find MySQL": { "main": [[{ "node": "MySQL Found?", "type": "main", "index": 0 }]] },
    "MySQL Found?": { "main": [
      [{ "node": "Create Exec", "type": "main", "index": 0 }],
      [{ "node": "No MySQL", "type": "main", "index": 0 }]
    ]},
    "Create Exec": { "main": [[{ "node": "Start Exec", "type": "main", "index": 0 }]] },
    "Start Exec": { "main": [[{ "node": "Format Success", "type": "main", "index": 0 }]] },
    "Format Success": { "main": [[{ "node": "Send Telegram", "type": "main", "index": 0 }]] },
    "No MySQL": { "main": [[{ "node": "Send Telegram", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "id": "database-backup-workflow",
  "meta": { "instanceId": "mis-assistant" },
  "tags": []
}
