workflows/3-meeting-notes.json
{
  "name": "3. Meeting Notes AI Summary",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meeting-notes",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Receive Meeting Notes",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "meeting-notes"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst text = input.body?.text || input.body?.notes || JSON.stringify(input.body);\n\nconst prompt = `You are a professional meeting notes assistant. Please analyze the following meeting notes and provide a structured summary in Traditional Chinese.\n\nPlease include:\n1. Meeting Summary (2-3 sentences)\n2. Key Decisions (bullet points)\n3. Action Items (with responsible persons if mentioned)\n4. Next Steps (if mentioned)\n\nMeeting Notes:\n${text}`;\n\nreturn [{ json: { prompt: prompt, originalText: text } }];"
      },
      "id": "prepare-prompt",
      "name": "Prepare AI Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', messages: [{ role: 'user', content: $json.prompt }], temperature: 0.3, max_tokens: 2000 }) }}",
        "options": {}
      },
      "id": "call-groq",
      "name": "Call Groq AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "06uVsarrbPv5XTZf",
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nlet summary = input.choices?.[0]?.message?.content || 'AI processing failed';\n\n// Remove markdown characters that break Telegram\nsummary = summary.replace(/\\*/g, '').replace(/_/g, ' ').replace(/`/g, '').replace(/\\[/g, '(').replace(/\\]/g, ')');\n\nlet msg = '[AI] Meeting Notes Summary\\n';\nmsg += '---\\n';\nmsg += 'Time: ' + new Date().toLocaleString('zh-TW', { timeZone: 'Asia/Taipei' }) + '\\n\\n';\nmsg += summary;\n\nreturn [{ json: { message: msg, summary: summary } }];"
      },
      "id": "format-summary",
      "name": "Format Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.message }}",
        "additionalFields": { "parse_mode": "none" }
      },
      "id": "send-telegram",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1120, 300],
      "credentials": {
        "telegramApi": {
          "id": "XfuqkzOYYEa0ar0n",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, summary: $json.summary }) }}"
      },
      "id": "respond-webhook",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Receive Meeting Notes": {
      "main": [[{ "node": "Prepare AI Prompt", "type": "main", "index": 0 }]]
    },
    "Prepare AI Prompt": {
      "main": [[{ "node": "Call Groq AI", "type": "main", "index": 0 }]]
    },
    "Call Groq AI": {
      "main": [[{ "node": "Format Summary", "type": "main", "index": 0 }]]
    },
    "Format Summary": {
      "main": [
        [
          { "node": "Send to Telegram", "type": "main", "index": 0 },
          { "node": "Respond", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "id": "meeting-notes-workflow",
  "meta": { "instanceId": "mis-assistant" },
  "tags": []
}
