workflows/5-telegram-bot.json
{
  "name": "5. Telegram Bot Command Router",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "seconds", "secondsInterval": 10 }]
        }
      },
      "id": "poll-trigger",
      "name": "Poll Every 10s",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/getUpdates' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ offset: $env.TG_OFFSET ? parseInt($env.TG_OFFSET) : 0, timeout: 5 }) }}",
        "options": {}
      },
      "id": "get-updates",
      "name": "Get Updates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "jsCode": "const updates = $input.first().json.result || [];\nif (updates.length === 0) return [];\n\nconst results = [];\nfor (const update of updates) {\n  if (update.message) {\n    results.push({ json: { message: update.message, update_id: update.update_id } });\n  }\n}\nreturn results;"
      },
      "id": "extract-messages",
      "name": "Extract Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json.message;\nconst chatId = msg.chat.id;\nconst from = msg.from.username || msg.from.first_name;\n\n// Check if voice message\nif (msg.voice) {\n  return [{ json: { type: 'voice', chatId, fileId: msg.voice.file_id, from } }];\n}\n\n// Check if text command\nconst text = (msg.text || '').trim();\nif (!text.startsWith('/')) {\n  return [{ json: { type: 'unknown', chatId, text, from } }];\n}\n\nconst parts = text.split(' ');\nconst cmd = parts[0].toLowerCase().replace('/', '');\nconst args = parts.slice(1).join(' ');\n\nreturn [{ json: { type: 'command', command: cmd, args, chatId, from } }];"
      },
      "id": "parse-message",
      "name": "Parse Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            { "id": "1", "leftValue": "={{ $json.type }}", "rightValue": "command", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and"
        }
      },
      "id": "route-type",
      "name": "Is Command?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "" },
          "conditions": [
            { "id": "1", "leftValue": "={{ $json.command }}", "rightValue": "status", "operator": { "type": "string", "operation": "equals" } },
            { "id": "2", "leftValue": "={{ $json.command }}", "rightValue": "backup", "operator": { "type": "string", "operation": "equals" } },
            { "id": "3", "leftValue": "={{ $json.command }}", "rightValue": "news", "operator": { "type": "string", "operation": "equals" } },
            { "id": "4", "leftValue": "={{ $json.command }}", "rightValue": "meeting", "operator": { "type": "string", "operation": "equals" } },
            { "id": "5", "leftValue": "={{ $json.command }}", "rightValue": "help", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "or"
        }
      },
      "id": "route-command",
      "name": "Which Command?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "http://docker-api-proxy:2375/containers/json?all=true",
        "options": {}
      },
      "id": "exec-status",
      "name": "Execute: Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 100]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst containers = items.map(i => i.json);\nconst running = containers.filter(c => c.State === 'running');\n\nlet msg = '[Status] Container Health Check\\n---\\n';\nmsg += 'Time: ' + new Date().toLocaleString('zh-TW', { timeZone: 'Asia/Taipei' }) + '\\n';\nmsg += 'Total: ' + containers.length + ' | Running: ' + running.length + '\\n\\n';\n\nfor (const c of containers) {\n  const name = (c.Names && c.Names[0]) ? c.Names[0].replace('/', '') : 'unknown';\n  const icon = c.State === 'running' ? '[OK]' : '[X]';\n  msg += icon + ' ' + name + ' (' + c.State + ')\\n';\n}\n\nreturn [{ json: { message: msg, chatId: $node['Parse Message'].json.chatId } }];"
      },
      "id": "format-status",
      "name": "Format Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 100]
    },
    {
      "parameters": {
        "url": "http://docker-api-proxy:2375/containers/json?all=true",
        "options": {}
      },
      "id": "exec-backup",
      "name": "Execute: Backup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst containers = items.map(i => i.json);\nconst mysql = containers.filter(c => c.Image && (c.Image.includes('mysql') || c.Image.includes('mariadb')));\n\nlet msg = '[Backup] Database Backup\\n---\\n';\nmsg += 'Time: ' + new Date().toLocaleString('zh-TW', { timeZone: 'Asia/Taipei' }) + '\\n\\n';\n\nif (mysql.length === 0) {\n  msg += 'No MySQL/MariaDB containers found.\\n';\n} else {\n  msg += 'Found ' + mysql.length + ' database container(s):\\n';\n  for (const c of mysql) {\n    const name = c.Names[0].replace('/', '');\n    msg += '- ' + name + ' (backup triggered)\\n';\n  }\n}\n\nreturn [{ json: { message: msg, chatId: $node['Parse Message'].json.chatId } }];"
      },
      "id": "format-backup",
      "name": "Format Backup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "jsCode": "let msg = '[News] Generating tech news summary...\\n---\\n';\nmsg += 'This will take 10-20 seconds. Please wait.\\n';\nreturn [{ json: { message: msg, chatId: $node['Parse Message'].json.chatId } }];"
      },
      "id": "exec-news",
      "name": "Execute: News",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "const args = $node['Parse Message'].json.args;\nlet msg = '';\n\nif (!args || args.trim() === '') {\n  msg = '[Meeting] Please provide meeting notes\\n---\\n';\n  msg += 'Usage: /meeting <your meeting notes>\\n\\n';\n  msg += 'Or send a voice message after typing /meeting';\n  return [{ json: { message: msg, chatId: $node['Parse Message'].json.chatId, error: true } }];\n}\n\nconst prompt = 'You are a professional meeting notes assistant. Please analyze the following meeting notes and provide a structured summary in Traditional Chinese.\\n\\nPlease include:\\n1. Meeting Summary (2-3 sentences)\\n2. Key Decisions (bullet points)\\n3. Action Items (with responsible persons if mentioned)\\n4. Next Steps (if mentioned)\\n\\nMeeting Notes:\\n' + args;\n\nreturn [{ json: { prompt, originalText: args, chatId: $node['Parse Message'].json.chatId } }];"
      },
      "id": "exec-meeting",
      "name": "Execute: Meeting",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', messages: [{ role: 'user', content: $json.prompt }], temperature: 0.3, max_tokens: 2000 }) }}",
        "options": {}
      },
      "id": "call-groq-meeting",
      "name": "Call Groq AI (Meeting)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "06uVsarrbPv5XTZf",
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nlet summary = input.choices?.[0]?.message?.content || 'AI processing failed';\nsummary = summary.replace(/\\*/g, '').replace(/_/g, ' ').replace(/`/g, '').replace(/\\[/g, '(').replace(/\\]/g, ')');\n\nlet msg = '[AI] Meeting Notes Summary\\n---\\nTime: ' + new Date().toLocaleString('zh-TW', { timeZone: 'Asia/Taipei' }) + '\\n\\n' + summary;\n\nreturn [{ json: { message: msg, chatId: $node['Parse Message'].json.chatId } }];"
      },
      "id": "format-meeting",
      "name": "Format Meeting",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "jsCode": "let msg = '[MIS Assistant] Available Commands\\n---\\n';\nmsg += '/status - Check container status\\n';\nmsg += '/backup - Run database backup now\\n';\nmsg += '/news - Generate tech news summary\\n';\nmsg += '/meeting <text> - AI meeting notes\\n';\nmsg += '/help - Show this help\\n\\n';\nmsg += 'You can also send voice messages for meeting notes!';\n\nreturn [{ json: { message: msg, chatId: $node['Parse Message'].json.chatId } }];"
      },
      "id": "exec-help",
      "name": "Execute: Help",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 500]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": { "parse_mode": "none" }
      },
      "id": "send-reply",
      "name": "Send Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1780, 300],
      "credentials": {
        "telegramApi": {
          "id": "XfuqkzOYYEa0ar0n",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            { "id": "1", "leftValue": "={{ $json.type }}", "rightValue": "voice", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and"
        }
      },
      "id": "check-voice",
      "name": "Is Voice?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 600]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/getFile?file_id=' + $json.fileId }}",
        "options": {}
      },
      "id": "get-voice-file",
      "name": "Get Voice File Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 600]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.telegram.org/file/bot' + $env.TELEGRAM_BOT_TOKEN + '/' + $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-voice",
      "name": "Download Voice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            { "name": "file", "value": "={{ $binary.data }}" },
            { "name": "model", "value": "whisper-large-v3" },
            { "name": "language", "value": "zh" }
          ]
        },
        "options": {}
      },
      "id": "transcribe-voice",
      "name": "Transcribe Voice (Whisper)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 600],
      "credentials": {
        "httpHeaderAuth": {
          "id": "06uVsarrbPv5XTZf",
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.text || 'Voice transcription failed';\nconst chatId = $node['Parse Message'].json.chatId;\n\nconst prompt = 'You are a professional meeting notes assistant. Please analyze the following meeting notes and provide a structured summary in Traditional Chinese.\\n\\nPlease include:\\n1. Meeting Summary (2-3 sentences)\\n2. Key Decisions (bullet points)\\n3. Action Items (with responsible persons if mentioned)\\n4. Next Steps (if mentioned)\\n\\nMeeting Notes:\\n' + text;\n\nreturn [{ json: { prompt, originalText: text, chatId } }];"
      },
      "id": "prepare-voice-prompt",
      "name": "Prepare Voice Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 600]
    }
  ],
  "connections": {
    "Poll Every 10s": {
      "main": [[{ "node": "Get Updates", "type": "main", "index": 0 }]]
    },
    "Get Updates": {
      "main": [[{ "node": "Extract Messages", "type": "main", "index": 0 }]]
    },
    "Extract Messages": {
      "main": [[{ "node": "Parse Message", "type": "main", "index": 0 }]]
    },
    "Parse Message": {
      "main": [
        [
          { "node": "Is Command?", "type": "main", "index": 0 },
          { "node": "Is Voice?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Is Command?": {
      "main": [
        [{ "node": "Which Command?", "type": "main", "index": 0 }]
      ]
    },
    "Which Command?": {
      "main": [
        [{ "node": "Execute: Status", "type": "main", "index": 0 }],
        [{ "node": "Execute: Backup", "type": "main", "index": 0 }],
        [{ "node": "Execute: News", "type": "main", "index": 0 }],
        [{ "node": "Execute: Meeting", "type": "main", "index": 0 }],
        [{ "node": "Execute: Help", "type": "main", "index": 0 }]
      ]
    },
    "Execute: Status": {
      "main": [[{ "node": "Format Status", "type": "main", "index": 0 }]]
    },
    "Format Status": {
      "main": [[{ "node": "Send Reply", "type": "main", "index": 0 }]]
    },
    "Execute: Backup": {
      "main": [[{ "node": "Format Backup", "type": "main", "index": 0 }]]
    },
    "Format Backup": {
      "main": [[{ "node": "Send Reply", "type": "main", "index": 0 }]]
    },
    "Execute: News": {
      "main": [[{ "node": "Send Reply", "type": "main", "index": 0 }]]
    },
    "Execute: Meeting": {
      "main": [[{ "node": "Call Groq AI (Meeting)", "type": "main", "index": 0 }]]
    },
    "Call Groq AI (Meeting)": {
      "main": [[{ "node": "Format Meeting", "type": "main", "index": 0 }]]
    },
    "Format Meeting": {
      "main": [[{ "node": "Send Reply", "type": "main", "index": 0 }]]
    },
    "Execute: Help": {
      "main": [[{ "node": "Send Reply", "type": "main", "index": 0 }]]
    },
    "Is Voice?": {
      "main": [
        [{ "node": "Get Voice File Info", "type": "main", "index": 0 }]
      ]
    },
    "Get Voice File Info": {
      "main": [[{ "node": "Download Voice", "type": "main", "index": 0 }]]
    },
    "Download Voice": {
      "main": [[{ "node": "Transcribe Voice (Whisper)", "type": "main", "index": 0 }]]
    },
    "Transcribe Voice (Whisper)": {
      "main": [[{ "node": "Prepare Voice Prompt", "type": "main", "index": 0 }]]
    },
    "Prepare Voice Prompt": {
      "main": [[{ "node": "Call Groq AI (Meeting)", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "id": "telegram-bot-workflow",
  "meta": { "instanceId": "mis-assistant" },
  "tags": []
}
