workflows/telegram-final.json
{
  "name": "Telegram Bot",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"]
      },
      "id": "tg-trigger",
      "name": "Telegram",
      "type": "n8n-nodes-telegram-polling.telegramPollingTrigger",
      "typeVersion": 1,
      "position": [240, 400],
      "credentials": {
        "telegramApi": {
          "id": "XfuqkzOYYEa0ar0n",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json.message;\nif (!msg || !msg.text) return [];\nconst text = msg.text.trim();\nif (!text.startsWith('/')) return [];\nconst cmd = text.substring(1).split(/[@\\s]/)[0].toLowerCase();\nreturn [{json: {command: cmd, chatId: msg.chat.id}}];"
      },
      "id": "parse",
      "name": "Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.command }}",
        "rules": {
          "rules": [
            {"value2": "start", "output": 1},
            {"value2": "status", "output": 2},
            {"value2": "help", "output": 3}
          ]
        },
        "fallbackOutput": 0
      },
      "id": "switch",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "jsCode": "return [{json: {message: '未知指令', chatId: $node.Parse.json.chatId}}];"
      },
      "id": "unknown",
      "name": "Unknown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 500]
    },
    {
      "parameters": {
        "jsCode": "return [{json: {message: '歡迎！可用: /status /help', chatId: $node.Parse.json.chatId}}];"
      },
      "id": "start",
      "name": "Start",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "jsCode": "return [{json: {message: 'Bot 運行中', chatId: $node.Parse.json.chatId}}];"
      },
      "id": "status",
      "name": "Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "return [{json: {message: '可用: /start /status /help', chatId: $node.Parse.json.chatId}}];"
      },
      "id": "help",
      "name": "Help",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}"
      },
      "id": "send",
      "name": "Send",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1120, 400],
      "credentials": {
        "telegramApi": {
          "id": "XfuqkzOYYEa0ar0n",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram": {"main": [[{"node": "Parse", "type": "main", "index": 0}]]},
    "Parse": {"main": [[{"node": "Switch", "type": "main", "index": 0}]]},
    "Switch": {"main": [
      [{"node": "Unknown", "type": "main", "index": 0}],
      [{"node": "Start", "type": "main", "index": 0}],
      [{"node": "Status", "type": "main", "index": 0}],
      [{"node": "Help", "type": "main", "index": 0}]
    ]},
    "Unknown": {"main": [[{"node": "Send", "type": "main", "index": 0}]]},
    "Start": {"main": [[{"node": "Send", "type": "main", "index": 0}]]},
    "Status": {"main": [[{"node": "Send", "type": "main", "index": 0}]]},
    "Help": {"main": [[{"node": "Send", "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "id": "telegram-final"
}
